*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*This is the css styling for the header of the layout page*/
.header-user{
    background-color: #2E2929;
    display: grid;
    grid-template-columns: 6fr 3.8fr 2fr 1fr;
}

/*This is the css styling for the logo of the layout page*/
.logo-con{
    height: 40px;
    width: 180px;
    padding: 18px 26px;
}

/*This is the css styling for the image inside teh logo of the layout page*/
.logo-con > img{
    height: 42px;
    width: 180px;
}

/*This is the css styling for the signup button of the layout page*/
.btn-signup{
    height: 34px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #7D3F5D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 18px 26px;
}

/*This is the css styling for the layout of the listing page*/
.layout{
    display: flex;
}

/*This is the css styling for the menu of the listing page*/
.menu-holder {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-around;
}

/*This is the css styling for the menu container of the listing page*/
.menu-holder > div{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

/*This is the css styling for the lists inside menu of the listing page*/
.list-menu {
    text-decoration: underline;
}

/*This is the css styling for the search button of the listing page*/
.search-holder{
    margin-top: 65px;
    padding-left: 60px;
}

/*This is the css styling for the search bar of the listing page*/
.search-bar{
    height: 40px;
    display: flex;
    align-items: center;
    width: 55vw;
    background-color: black;
    border-radius: 6px;
    padding: 0px 15px;
}

/*This is the css styling for the tect inside search bar of the listing page*/
.search-bar > p{
    color: #FFFFFF;
    margin-left: auto;
    font-size: 12px;
}

/*This is the css styling for the search of the listing page*/
.search-icon{
    color: white;
}

/*This is the css styling for the filters of the listing page*/
.filter-con{
    display: flex;
    width: 56vw;
    align-items: center;
    margin:30px 0px 0px 65px;
}

/*This is the css styling for the filter of the listing page*/
.filter-con > div{
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
}

.filter-con > form{
    display: flex;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
}

.filter-con > form > div{
    margin-right: 12px;
} 

.filter-showcase{
    
}

.filter-country > div{

}

/*This is the css styling for the filter setting of the listing page*/
.filter-settings{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7D3F5D;
    border-radius: 5px;
    color: white;
}


.filter-settings > p {
    padding: 0px 5px;
    margin-right: 10px;
    font-size: 11px;
    font-weight: 600;
}

/*This is the css styling for the div that holds the number of insitituions of the listing page*/
.result-counter{
    display: flex;
    width: 56vw;
    margin:30px 0px 0px 65px;
}

/*This is the css styling for the div that holds the text of insitituions of the listing page*/
.result-counter > p{
    font-size: 14px;
    font-weight: 700;
    padding-left: 5px;
} 

/*This is the css styling the sorting icon of the listing page*/
.sort-icon{
    margin-left: auto;
}

/*This is the css styling for the div that holds insitituions of the listing page*/
.item-container{
    display: flex;
    flex-wrap: wrap;
    width: 56vw;
    margin:30px 0px 0px 65px;
}

/*This is the css styling for insitituions of the listing page*/
.child-items{
    height: 170px;
    width: 25vw;
    margin-bottom: 35px;
    background-color: aliceblue;
    border-radius: 10px;
}

.item-container > div:nth-child(even) {
    margin-left: auto;
}

/*This is the css styling for the div that holds the images of insitituions of the listing page*/
.img-holder {
    height: 130px;
    width: 25vw;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    border-top: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
}
  
/*This is the css styling for the div that holds the image of insitituions of the listing page*/
.logo-img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/*This is the css styling for the div that holds the name of insitituions of the listing page*/
.name-holder{
    height: 40px;
    width: 25vw;
    font-size: 14px;
    background-color: black;
    border-radius: 0px 0px 10px 10px;
    color: white;
    border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*This is the css styling for the div that holds the link icon of insitituions of the listing page*/
.link-institution{
    font-size: 20px;
    background-color: #FFFFFF;
}

/*This is the css styling reating menu of the listing page*/
.rating-menu{
    display: flex;
    padding-top: 18vh;
}

/*This is the css styling for the div that holds the top rated institutions of listing page*/
.top-holder{
    font-size: 18px;
    font-weight: bold;
    padding:0 2rem;
}


/*This is the css styling for the div that holds the top rated institutions of listing page*/
.top-rating{
    font-size: 14px;
    font-weight: 500;
    background-color: #F6E3E6;
    display: flex;
    align-items: center;
    border-radius: 3px 0px 0px 3px;
    padding: 3px 8px;
    box-shadow: 1px 1px 3px 1px #675457;
}


/*This is the css styling for the div that holds the top rated institutions based on performance of listing page*/
.top-performance{
    font-size: 14px;
    font-weight: 500;
    background-color: #7D3F5D;
    border-left: solid 1px #562a3f;
    border-right:solid 1px #562a3f;
    display: flex;
    align-items: center;
    padding: 3px 8px;
    box-shadow: 1px 1px 3px 1px #675457;
}


/*This is the css styling for the div that holds the top rated institutions based on ranking of listing page*/
.top-rank{
    font-size: 14px;
    font-weight: 500;
    background-color: #F6E3E6;
    display: flex;
    align-items: center;
    border-radius: 0px 3px 3px 0px;
    padding: 3px 8px;
    box-shadow: 1px 1px 3px 1px #675457;
}


/*This is the css styling for the div that holds the top rated institutions based on rating of listing page*/
.top-rated{
    padding-left: 32px;
    padding-top: 4rem;
    margin-right: 2vw;
}


.info-top{
    display: flex;
    margin-bottom: 15px;
}

.ranking-performance{
    display: flex;
    height: 90px;
}

.logo-top{
    border-radius: 10px 0px 0px 10px;
    border: solid 1px #562a3f;
}

.line-top{
    border-left: solid 2px black;
    margin-right: 2vw;
}

.info-top-rated{
    background-color: #D9D9D9;
    display: flex;
    width: 23vw;
    border-radius: 0px 10px 10px 0px;
    align-items: center;
}

.ranking-number{
    font-size: 60px;
    padding-top: 1rem;
}

.ranking-topten{
    display: flex;
    font-size: 60px;
    padding-top: 1rem;
}

.ranking-ten{
    padding-top: 2px;
    margin-left: -2rem;
    font-size: 55px;
}

.ranked-names{
    font-size: 14px;
}



.filter-select-fix{
    display: flex;
}

.filter-check .MuiSvgIcon-root{
    font-size: 14px;
}

.filter-list{
    font-size: 8px;
}

.make-it{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.filter-item-strap{
    display: flex;
    align-items: center;
}

.MuiInputLabel-root {
    font-size: 14px !important;
}


.menu-showcase{
    position: relative;
}
.menu-options{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #675457;
    padding: 10px;
}






/*
Css for the Pop up menus.
*/

.main-pop-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pop-menu-items{
    display: flex;
    width: max-content;
    flex-direction: column;
    padding: 10px;
}

.pop-menu-items > div {
    margin-top: 10px;
}

.pop-menu-items > div > label {
    margin-right: 10px;
}

.pop-menu-days-options{
    height: 20px;
    font-size: 10px;
}

.pop-menu-div{
    width: max-content;
    padding: 20px;
}

.pop-menu-div > button {
    margin-right: 20px;
}


/*Comparable item*/
.comparable-item-box{
    display: flex;
    flex-direction: row;
}









